html, body {
    min-height: 100%;
    min-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Cairo');
*,
*::before,
*::after {
    box-sizing: border-box
}
html {
    background: repeating-linear-gradient(135deg, #FC9, #FB7 100px, #FBF 100px, #FDF 130px, #FDF 200px) #FB7 fixed;
}
body {
    font-family: 'Cairo', sans-serif;
}

#form,
#settings,
noscript,
.timer {
    border: 1px solid #ddd;
    padding: 14px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 2px 2px 7px 2px rgba(100,100,100,0.3);
    user-select: none;
}
.timer {
    float: left;
    width: 32%;
    margin: 1% 2% 0 0;
}
.timer:nth-child(3n+0) {
    /** This removes the margin for the 3rd element so everything adds up to 100% **/
    margin: 1% 0;
}
.timer:nth-child(3n+1) {
    clear:left;
}
#form,
#settings,
noscript {
    width: 90%;
    margin: 1% auto;
}
#timer-area {
    margin: 0 5%;
    min-height: 130px;
}

button,
label {
    display: inline-block;
    background: linear-gradient(to bottom, #FA5, #FB7) #FA5;
    padding: 6px;
    height: 30px;
    font-size: 13.5px;
    border: 1px solid #FDF;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(100,100,100,0.3);
    transition: transform 0.1s;
}
button:hover,
label:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 3px rgba(75, 75, 75, 0.4);
}
button:active,
label:active {
    transform: scale(0.98);
}
button~button,
button~label{
    margin-left:6px;
}
.timer > button,
#settings > button {
    float: right;
}
.timer > h2 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.timer > .confirm-box {
    margin: 8px 8px 0 0;
    padding: 6px;
    border: 1px solid #FDF;
    border-radius: 12px;
    background: rgba(80, 30, 30, 0.33);
}

input[type="checkbox"] {
    padding: 0;
    margin: 0;
}
#reminder-submit {
    position: relative;
    top: -1px;
}
td>input[type="text"],
.tags-input {
    width: 269px;
    height: 28px;
    border: 1px solid #888;
    background-color: white;
}
td>input[type="text"] {
    padding: 0px 6px;
}

#form table {
    margin-bottom: 12px;
}

h1 {
    margin: 8px 0px;
}

span.small {
    display: block;
    margin-top: 8px;
    font-size:12px;
    color:#222;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width:100%;
    border: 1px solid #ddd;
    padding: 8px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0px -2px 7px 2px rgba(100,100,100,0.3);
    user-select: none;
}

.progress {
    width: 100%;
    height: 34px;
    border: none;
	background: rgba(80, 30, 30, 0.33);
	border-radius: 16px;
    margin-top: 9px;
	padding: 1px;
    overflow: hidden;
}
.progress-value {
    height: 100%;
	border-radius: 12px;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: linear-gradient(to bottom, #F94, #FB7) #F94;
    color: white;
    text-align: center;
    overflow: hidden;
    padding:7px 0px;
}
.progress-finished {
	border-radius: 16px;
	background: linear-gradient(to bottom, #4A0, #8C3) #F94;
}

/*tagsinput*/
.tags-input {
    display: inline-block;
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
}
.tags-input>input {
    padding: 0px 6px;
    border: none;
    background: transparent;
    min-width: 20px;
    width: auto;
    height:100%;
}
.tags-input>input:focus {
    outline: none;
}
.tags-area {
    position:relative;
    display: inline-block;
}
.tags-area>span {
    display: inline-block;
    padding: 1px 12px;
    border-radius: 12px;
    background-color: #FD8;
}
.tags-area>span:not(:first-child) {
    margin-left: 6px;
}
.tags-area>span>button {
    margin: 0 0 3px 8px;
    border:1px solid #830;
    border-radius: 12px;
    background: #E82;
    font-size: 10px;
    padding: 0 6px;
    height: auto;
}